<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% chatroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label "Add a new chatroom" %>
    <%= form.text_field :name, class: 'form-control', placeholder: "Chatroom name" %>
  </div>

  <%= form.submit "Add", class: "btn btn-add btn-outline btn-block" %>
<% end %>